[submodule "third_party/astc-encoder/src"]
	path = third_party/astc-encoder/src
	url = https://chromium.googlesource.com/external/github.com/ARM-software/astc-encoder
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://chromium.googlesource.com/chromium/src/third_party/zlib
